<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Weather Monitoring</title>
    <style>
        #boxes {
          float: left;
          background: white;
          width: 45%;
          height:float;
          border-style: double;
          margin-top: -24%;
          margin-left: 28%;
        }
    
    
        #scroll {
          display: block;
          border: 0px solid red;
          padding: 5px;
          margin-top: 5px;
          width: 100%;
          height: 300px;
          overflow-y: scroll;
        }
        </style>
  </head>
  <body style="background-color:gray">
    <section id="cover" class="min-vh-100">
        <div id="cover-caption">
            <div class="container">
                <div class="row text-white">
                    <div class="col-xl-5 col-lg-6 col-md-8 col-sm-10 mx-auto text-center form p-4">
                        <h1 class="display-4 py-2 text-truncate" style="color:black"><strong>Search Query</strong></h1>
                            <hr>
                        <div class="px-2">
                            <form action="/query" method="post" class="justify-content-center" style="margin-top:2%">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label class="" style="color:black"><h4>Enter Temparature</h4></label>
                                    <input type="text" class="form-control"  name="temp" id="temp" required>
                                </div>
                                
                                <button type="submit" class="btn btn-primary btn-lg">Submit</button>
                                
                            </form>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% if calculated_value %}

    <div id="boxes">
      <div id="scroll">
        {% if calculated_value %}
        <h3><strong>The Search value is :-</strong> {{calculated_value | safe}}</h3>
        {% endif %}
      </div>
    </div>
  
    {% endif %}

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>